.DS_Store

*.pyc

scrapbook/*
*.mov
.ipynb_checkpoints

upload

build/
MANIFEST
dist/*
.eggs/
*.egg-info/*
docs_src/node_modules/**

.cache/v/cache/lastfailed
.pytest_cache

.vscode/settings.json
*.sarif
.coverage
*.lcov
