language: python
python:
  - "2.7"
  - "3.6"

install:
  - pip install -r requirements.txt
  - python setup.py install

script:
  - python -m unittest cxroots.tests.test_rootfinding.TestRootfinding_144.test_rootfinding_f

