[tool.black]
exclude = '''
/(
    | \.eggs
    | build
    | docs
    | docs_src
    | README_resources
)/
'''

[tool.isort]
profile = "black"
skip = ["docs", "docs_src"]

[tool.pyright]
include = ["cxroots"]
exclude = [
    "cxroots/tests/**",
    "**/__pycache__"
]
