#
# requirements.txt used for concrete testing environment.
#
# install_requires in setup.py gives the abstract requirements
# used by 'pip install' and 'setup.py install' to install
# cxroots as a library.
#

scipy; python_version < '3.8' # pyup: ignore
numpy; python_version < '3.8' # pyup: ignore

scipy==1.8.0; python_version >= '3.8'
numpy==1.22.3; python_version >= '3.8'
numpydoc==1.2.1
mpmath==1.2.1
numdifftools==0.9.40
matplotlib==3.5.1
pytest==7.1.2
pytest-xdist==2.5.0
