nbsphinx==0.9.5
sphinx==7.4.7
sphinxcontrib-programoutput==0.17
sphinxcontrib-bibtex==2.6.3
sphinx_rtd_theme==2.0.0
sphinx-github-changelog==1.4.0
ipython==8.27.0
nbconvert==7.16.4
ipython_genutils==0.2.0 # not direct dependency but seems to be a missing requirement from nbconvert
mistune==3.0.2 # not directly required, avoid vulnerability in older version

-r requirements.txt

# For packaging
setuptools==71.1.0
wheel==0.44.0
twine==5.1.1
