nbsphinx==0.8.12
sphinx==5.3.0
sphinxcontrib-programoutput==0.17
sphinxcontrib-bibtex==2.5.0
sphinx_rtd_theme==1.1.1
sphinx-github-changelog==1.2.0
ipython==8.9.0
nbconvert==7.2.9
ipython_genutils==0.2.0 # not direct dependency but seems to be a missing requirement from nbconvert
mistune==2.0.4 # not directly required, avoid vulnerability in older version

-r requirements.txt

# For packaging
setuptools
wheel
twine
