name: Format code

on:
  push:
    branches:
        - "renovate/static-analysis-dependencies"
        - autoformat

env:
    latest_python: 3.12

jobs:
  run-ruff-format:
    permissions:
        contents: write
    runs-on: ubuntu-24.04
    steps:
        - name: Checkout
          uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        - name: Setup Python
          uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
          with:
            python-version: ${{ env.latest_python }}
        - name: Install ruff
          run: pip install -r requirements_analysis.txt
        - name: Fix
          run: ruff check --fix
        - name: Format
          run: ruff format
        - uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7
          with:
            commit_message: Autoupdate formtatting with ruff
  